<div class="container">
  <h2>Stories</h2>
  <div class="row">
    {{#each stories}}
      <div class="col-md-4 col-sm-6">
        <div class="panel panel-default">
          <div class="panel-body text-center">
            <h4>{{heading}}</h4>
            <p style="min-height:60px;">{{shorten_story_words_length text}}</p>
            <br/><br/>
            <a href="/publicprofile/{{_creator}}" class="badge" style="border-radius:10px;background-color:#F0AD4E"><span class="glyphicon glyphicon-user"></span> {{creatorName}}</a>
          </div>
          <div class="panel-footer text-center">
            <a href="/stories/public/{{id}}" class="btn btn-primary btn-sm btn-block">Read More</a>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>
