<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 col-md-offset-2" style="max-width: ">
      <div class="panel panel-default">
        <div class="panel-body text-center">
          <h4>{{story.creatorName}}</h4>
          <img src="/uploads/{{#if creatorImage}}{{creatorImage}}{{else}}demodp.jpg{{/if}}" class="img-circle center-block" width="150" height="150"><br/>
        </div>
        <div class="panel-footer text-center">
          <a href="/publicprofile/{{story._creator}}" class="btn btn-link btn-sm">More from {{story.creatorName}}</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h2>{{story.heading}}</h2>
      <div class="panel panel-default">
        <div class="panel-body">
          <h5 class="text-muted">{{formatDate createdAt}}</h5>
          <p>{{story.text}}</p>
        </div>
      </div>
      <div class="panel panel-default" id="loginSuggestionDivToComment">
        <div class="panel-body">
          <h4>Comments</h4>
          <p>Please <a href="/login">login</a> to leave a comment</p>
        </div>
      </div>
      <div class="panel panel-default">
        <input class="form-control input-lg comment" id="{{story._id}}" type="text" placeholder="Write a comment">
      </div>
      <div id="oneStory">
        {{#each story.comments}}
          <div class="well">
            <p>{{comment}}
              <a href="/publicprofile/{{commentedBy_userId}}" class="btn btn-default btn-xs" style="border-radius:10px;"><span class="glyphicon glyphicon-user"></span> {{commentedBy_userName}}</a>
            </p>
            <small>{{formatDate commentedAt}}</small>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>
